.input-group {
    font-size: 1.25rem;
    position: relative;
    --primary: #2196f3;
}
.input {
    all: unset;
    color: #fefefe;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0 ,0.2, 1);
}
.label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0 ,0.2, 1
}